body {
    font-family: 'Raleway', sans-serif;
    color: $colore_testo;
}

.container {
    max-width: 1150px;
    margin: auto;
}

ul, li {
    list-style-type: none;
    display: inline;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $button_color;
    }
}

button {
    @include my-radius(8px);
    color: $button_color;
    padding: 10px;
    font-weight: bold;
    margin-bottom: $button_margin;
    border-width: $border_width_button;
    background-color: $button_bg;

    a, i {
        color: $button_color;
    }
}

p.imp {
    font-size: $important_paragraphs;
    line-height: 30px;
    margin-bottom: $standard_margin;
}