body {
    font-family: 'Montserrat', sans-serif;
    color: $colore_testo;
}

.container {
    max-width: 1150px;
    margin: auto;
}

ul, li {
    list-style-type: none;
    display: inline;
}

a {
    text-decoration: none;
    color: $colore_testo;
    &:hover {
        text-decoration: none;
        color: #30488f;
        i {
            color: #30488f;
        }
    }
}

button {
    @include my-radius(8px);
    padding: 10px;
    font-weight: bold;
}