/* ----- HEADER ----- */
 header {

     &.scrolled {
         transition: all 0.5s;
         background-color: white;
         border-bottom: $bottom_border;
         box-shadow: 0 1px 1px 1px rgba(0,0,0,.08);
         position:fixed;
         top: 0;
         width: 100%;
         z-index: 10;
     }

     nav {
        @include my-flex(space-between, center);
        height: 75px;
        background-color: white;
        margin-bottom: $standard_margin;
        border-bottom: $bottom_border;

        &.scrolled {
            height: 50px;
            border-bottom: 0;
        }
    
        .logo{
            @include my-flex(center, center);
        }
    
        .menu {
            line-height: 75px;
        }
    
        ul, li {
            display: inline;
        }
    
        li {
            padding: 15px 25px;
            font-size: $font_size_link;
            font-weight: bold;
            
            a:hover {
                color: $colore_testo;
            }
            
            &:last-of-type {
                padding-right: 0;
            }
            
            button {

                &.scrolled {
                    background-color: $button_bg;
                    color: $button_color;
                    i {
                        color: $button_color;
                    }
                }
                transition: background-color 0.2s;
                background-color: white;
                color: $colore_testo;
                i {
                    color: $colore_testo;
                }
                &:hover {
                    background-color: $button_bg;
                    color: $button_color;
                    i {
                        color: $button_color;
                    }
                }
            }
        }
    }
 }
