/* ----- JUMBOTRON ----- */

#jumbotron {
   margin: $section_elements_space;

    .container {
        @include my-flex(center,flex-start);

        .jumbo {
            width: 50%;

            h1 {
                margin-top: 0;
                font-size: $main_title;
                line-height: 70px;
                margin-bottom: $standard-margin;
            }

            small {
                padding: 0 5px;

                i {
                    cursor: pointer;
                    line-height: 15px;
                }
            }
        }
        img {
            @include img_set (100%, auto);
            object-fit: contain;
        }
    }
}

/* ----- SECTION 2 & 3 ----- */

.ill-section {
    text-align: center;
    background-color: $colore_sfondo;

    h3 {
        padding: $section_elements_space;
        @extend %h3;
    }

    .container h3:last-child {
        padding-top: 0;
    }

    .ill-wrapper {
        @include my-flex(center,center);

        div {
            width: calc( 100% / 3);
            @include my-flex(center,center);
            flex-direction: column;

            img {
                @include img_set( 140px, 105px);
                max-height: 200px;
            }

            p {
                max-width: 80%;
            }
        } 
    }
    .big-ill {
        text-align: center;
        margin: 100px 0;
        img {
            @include img_set( 280px, 286px)
        }
    }
}

#illustration_one .container{
    border-bottom: $bottom_border;
}

/* ----- SECTION 4 TO 7 ----- */

