/* ----- JUMBOTRON ----- */

#jumbotron {
    margin-top: 100px;
    margin-bottom: 100px;

    .container {
        @include my-flex(center,flex-start);

        .jumbo {
            width: 50%;

            h1 {
                margin-top: 0;
                font-size: $main_title;
                line-height: 70px;
                margin-bottom: $standard-margin;
            }

            small {
                padding: 0 5px;

                i {
                    cursor: pointer;
                    line-height: 15px;
                }
            }
        }
        img {
            width: 100%;
            object-fit: contain;
        }
    }
}

/* ----- SECTION 2 & 3 ----- */

.ill-section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: $colore_sfondo;
    h3 {
        @include titles_margin(0,0);
        font-size: $small_titles;
        width: 60%;
        margin: auto;
    }
}

#illustration_one .container {
    border-bottom: 1px solid rgb(189, 181, 175);
}