@mixin my-flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin my-radius($radius) {
    border-radius: $radius;
}

@mixin titles_margin($start, $end) {
    margin-block-start: $start;
    margin-block-end: $end;
}